<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up For Beta Form</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- SCRIPT -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
  </head>
  <body>
    <form action="/" method="post" name="subscribe">
      <div class="header">
        <img src="images/hacktiv8-logo.png" alt="">
         <p>SUBSCRIBE</p>
      </div>
      <div class="description">
        <p>Milkshake is almost ready. If you're interested in testing it out, then sign up below to get exclusive access.</p>
      </div>
      <div class="input">
        <input type="text" class="button" id="email" name="email" placeholder="name@email.com">
        <button type="submit" class="button" id="submit">SUBSCRIBE</button>
      </div>
    </form>
  </body>
</html>
